/* Index page view styling */

*
{
    padding: 0;
    margin: 0;
}

body 
{
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/* Nav Bar */

.navbar-nav a
{
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand
{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active 
{
    color: #fff;
}

.nav-link, .navbar-light .navbar-nav .nav-link.active 
{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link.show
{
    color: #fff;
}

.navbar-light .navbar-nav .show .nav-link
{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link
{
    color: #fff;
}

.navbar-nav
{
    text-align: center;
}

.nav-link
{
    padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus
{
    color: #fff;
} 

.navbar-light .navbar-nav .nav-link:hover
{
    color: #fff;
}

.nav-link
{
    padding: 2rem 1rem;
    text-shadow: 1px 1px 1px black;
    background: rgba(0,0,0,0.5);
}

.navbar-light .navbar-nav .nav-link:focus
{
    color: #fff;
}

.nav-link:hover 
{
    color: #fff;
}

.navbar-brand
{
    padding: 2rem;
    text-shadow: 1px 1px 1px black;
    background: rgba(0,0,0,0.5);
}

/* Index heading styling */

.slider
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('assets/img/2.jpg');
    z-index: -1;
}

section
{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero
{
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero::after
{
    content: "";
    background: #1a1a1d;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}

.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-image-class 
{
    background-image:  url("../img/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 553px 250px;
    min-height: 1vh;
}

/* boxes scroll down & up */

.box1
{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

.box2
{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}

/* Text styling responsive */

.wrapper
{
    width: 100%;
}

.intro-text
{
    width: 100%;
}

.intro-text h2
{
    padding: 30px 30px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    color: #111;
    line-height: 44px;
}

.intro-text p
{
    padding: 0px 30px 20px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #111;
    line-height: 24px;
}

/* container */

.container
{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 200px;
    background: #ff01; 
    margin: 30px 20px 30px 20px;
    box-sizing: border-box; 
    display: inline-block;
    overflow: hidden;
}

.container .box .imgBox
{
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img
{
    max-width: 100%;
    transition: transform 2s;
}

.container .box:hover .imgBox img
{
    transform: scale(1.2);
}

.content
{
    width: 100px;
    position: absolute;
    margin-top: -120px;
    padding: 1rem;
    text-shadow: 1px 1px 1px black;
}

.content h6
{
    text-align: justify;
    color: #ffffff;
    font-size: 2.4vw;
    font-family: 'Lato', sans-serif;
}

/* Gallery html */

.gallery{
    margin: 20px 20px;
}

.gallery img{
    transition: 1s;
    padding: 15px;
    width: 200px;
}

.gallery img:hover{
    transform: scale(1.1);
}

/* Maps */

.iframe
{
    display: block;
    width: 90vh;
    height: calc(.75 * 90vw);
    max-width: 800px;
    max-height: 600px;
    margin: 10em auto;
    border-radius: 4px; 
}

#map
{
    display: block;
    width: 90vh;
    height: calc(.75 * 90vw);
    max-width: 800px;
    max-height: 600px;
    margin: 10em auto;
    border: solid 1px gray;
    box-shadow: 2px 2px 2px silver;
    border-radius: 4px;
}

/* Copyright */

.copyright
{
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
}

/* video */

.video
{
    display: block;
    width: 90vh;
    height: calc(.75 * 90vw);
    max-width: 800px;
    max-height: 600px;
    margin: 10em auto;
    border-radius: 4px; 
}

@media only screen and (max-width: 767px)
{
    .navbar-nav.ml-auto
    {
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler
    {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}

@media only screen and (min-width: 768px) {
    .wrapper
    {
    width: 1000px;
    margin: 0 auto;
    }

    .intro-text h2
    {
    padding: 10px 0px 0px;
    }

    .intro-text p
    {
    padding: 10px 0px 0px;
    }
}

@media only screen and (max-width: 1000px) {
    .wrapper
    {
    width: 1000px;
    }

    .intro-text
    {
    width: 100%;
    float: right;
    }

    .intro-text h2
    {
    padding: 20px 0px 0px 30px;
    }

    .intro-text p
    {
    padding: 20px 0px 0px 30px;
    }
}