@import url('https://fonts.googleapis.com/css?family=Lato|Roboto|Source+Sans+Pro&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url('assets/img/2.jpg');
    z-index: -1;
}

section
{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero
{
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline
{
    position: absolute;
    top: 70px;
    left: 20%;
    bottom: 10%;
    font-size:30px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;
}

.hero::after
{
    content: "";
    background: #1a1a1d;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    opacity: 0.3;
    top: 0;
}

.centered 
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-image-class 
{
    background-image:  url("../img/1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 553px 250px;
    min-height: 1vh;
}

body 
{
    background-image: url("../img/1.jpg");
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    /* background: #f0f7f4; */
    font-family: Lato;
}
/* Container */
.container
{
    width: 1280px;
    margin: 70px auto 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box
{
    position: relative;
    width: 300px;
    height: 200px;
    /* background: #6BBAA7; */
    margin: 10px;
    box-sizing: border-box; 
    display: inline-block;
    flex-direction: row;
    flex-wrap: wrap;
}

.container .box .imgBox
{
    position: relative;
    overflow: hidden;
}

.container .box .imgBox img
{
    max-width: 100%;
    transition: transform 2s;
}

.container .box:hover .imgBox img
{
    transform: scale(1.2);
}

.container .box .details
{
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    background: rgba(0,0,0,.8);
    transform: scaleY(0);
    transition: transform .5s;
}

.container .box:hover .details
{
    transform: scaleY(1);
}

.container .box .details .content
{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    padding: 15px;
    color: #fff;
}

.container .box .details .content h2
{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: #6BBAA7;
}

.container .box .details .content p
{
    margin: 10px 0 0;
    padding: 0;
}
/* Nav bar */
.navbar-nav a
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}

.navbar-light .navbar-brand
{
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link 
{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link
{
    color: #fff;
}

.navbar-nav
{
    text-align: center;
}

.nav-link
{
    padding: .2rem 1rem;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover 
{
    color: #fff !important;
}

.w-100
{
    height: 100vh;
}

@media only screen and (max-width: 767px)
{
    .navbar-nav.ml-auto
    {
        background: rgba(0,0,0,0.5);
    }
    .navbar-toggler
    {
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
    }
}

#map
{
    height: 500px;
    width: 1000px;
}

div 
{
    /*padding-top: 4%;*/
}

h1
{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #777777;
}

span 
{
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #777777;
}

.wrapper-gallery
{
    margin: 0 20vw;
}